body {
  font-family: 'Staatliches', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
}

section {
  padding: 2rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Staatliches', cursive;
}

#mainNav .navbar-brand {
  color: #fefefe;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #fefefe;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #cb2036;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #fefefe;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #cb2036;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #fefefe;
    background: #cb2036;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fefefe;
    background: #cb2036;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: calc(4rem + 72px);
  padding-bottom: 2rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Staatliches', cursive;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(4rem + 106px);
    padding-bottom: 2rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  /*max-width: 25rem;*/
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(203, 32, 54, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: 10vh;
  /*min-height: calc(100vh - 2rem);*/
  /*margin: 1rem calc(1rem - 8px);*/
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 10vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #cb2036;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
  color: #fefefe;
  font-family: 'Staatliches', cursive;
}

.copyright {
  background-color: #000;
  font-family: 'Staatliches', cursive;
  font-size:20px;
}

a {
  color: #cb2036;
}

a:focus, a:hover, a:active {
  color: #7c1428;
}

.btn {
  border-width: 2px;
  font-family: 'Staatliches', cursive;
}

.bg-primary {
  background-color: #000 !important;
}

.bg-secondary {
  background-color: #000000 !important;
}

.text-primary {
  color: #cb2036 !important;
}

.text-secondary {
  color: #000000 !important;
}

.btn-primary {
  background-color: #cb2036;
  border-color: #cb2036;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #7c1428;
  border-color: #7c1428;
}

.btn-secondary {
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #cb2036;
  border-color: #cb2036;
}

.pad100{
  padding-bottom:100px;
}
.pad30{
padding:20px;
margin-bottom:30px;
}
.padweb{
  padding-top:150px;
  padding-bottom:50px;
}
.padvid{
  padding-top:120px;
  padding-bottom:50px;
}

.titles{
  color:#cb2036;
}

.stbg{
  background-color: #fefefe;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23e4e4e4' stroke-width='4.9' stroke-opacity='0.16'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.mtitle{
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='50' viewBox='0 0 100 50'%3E%3Cdefs%3E%3Crect stroke='%23000000' stroke-width='0.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23000000' stroke-width='0.5'%3E%3Crect fill='%23050505' width='1' height='1'/%3E%3Crect fill='%23000000' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%230a0a0a' width='1' height='1' y='1'/%3E%3Crect fill='%230f0f0f' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23141414'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%231a1a1a'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23000000'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%231f1f1f'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23cb2036'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23cb2036'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100' height='50'/%3E%3Crect fill='url(%23b)' width='100' height='50'/%3E%3Crect fill='url(%23c)' width='100' height='50'/%3E%3Crect fill='url(%23d)' width='100' height='50'/%3E%3Crect fill='url(%23e)' width='100' height='50'/%3E%3Crect fill='url(%23f)' width='100' height='50'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.webfolio {
  margin-bottom: -15px;
}

.webfolio .webfolio-item {
  position: relative;
  display: block;
  /*max-width: 25rem;*/
  margin-bottom: 15px;
}

.webfolio .webfolio-item .webfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(203, 32, 54, 0.9);
}

.webfolio .webfolio-item .webfolio-item-caption:hover {
  opacity: 1;
}

.webfolio .webfolio-item .webfolio-item-caption .webfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .webfolio {
    margin-bottom: -30px;
  }
  .webfolio .webfolio-item {
    margin-bottom: 30px;
  }
}

.webfolio-modal .webfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: 10vh;
  /*min-height: calc(100vh - 2rem);*/
  /*margin: 1rem calc(1rem - 8px);*/
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.webfolio-modal .webfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.webfolio-modal .webfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.webfolio-modal .webfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .webfolio-modal .webfolio-modal-dialog {
    min-height: 10vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .webfolio-modal .webfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.btnmarge{
  margin-top:20px;
  margin-bottom:20px;
}

.webfolio2 {
  margin-bottom: -15px;
}

.webfolio2 .webfolio2-item {
  position: relative;
  display: block;
  /*max-width: 25rem;*/
  margin-bottom: 15px;
}

.webfolio2 .webfolio2-item .webfolio2-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(203, 32, 54, 0.9);
}

.webfolio2 .webfolio2-item .webfolio2-item-caption:hover {
  opacity: 1;
}

.webfolio2 .webfolio2-item .webfolio2-item-caption .webfolio2-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .webfolio2 {
    margin-bottom: -30px;
  }
  .webfolio2 .webfolio2-item {
    margin-bottom: 30px;
  }
}

.webfolio2-modal .webfolio2-modal-dialog {
  padding: 3rem 1rem;
  min-height: 10vh;
  /*min-height: calc(100vh - 2rem);*/
  /*margin: 1rem calc(1rem - 8px);*/
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.webfolio2-modal .webfolio2-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.webfolio2-modal .webfolio2-modal-dialog .close-button i {
  line-height: 38px;
}

.webfolio2-modal .webfolio2-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .webfolio2-modal .webfolio2-modal-dialog {
    min-height: 10vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .webfolio2-modal .webfolio2-modal-dialog h2 {
    font-size: 3rem;
  }
}

.hed-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hed-grow:hover, .hed-grow:focus, .hed-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
